body{
font-family: Arial;
background:#f4f1ea;
margin:0;
}

header{
background:#6f4e37;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
padding:30px;
}

.board{
display:flex;
gap:20px;
}

.column{
background:white;
padding:15px;
border-radius:8px;
width:30%;
}

.task{
background:#fafafa;
padding:10px;
margin-bottom:10px;
border-radius:6px;
}