{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Contact</h1>
          <span class="subheading">
            Let’s build something meaningful.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <p>
          Interested in collaboration, railway innovation, or digital solutions
          for infrastructure projects? Feel free to reach out.
        </p>

        <p class="text-muted">
          Engineering + Code. Precision + Vision.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
