<footer id="footer" class="footer dark-background">

  <div class="container">

    <div class="copyright text-center">

      <p>

        © <span>{{ _("Copyright") }}</span>
        <strong class="px-1 sitename">Ground2Tech Engineering</strong>
        {{ _("All Rights Reserved") }}

      </p>

    </div>

    <div class="social-links d-flex justify-content-center">

      <a href="https://github.com/SebastianDiazSD">
        <i class="bi bi-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/sebastian-arce-diaz91/">
        <i class="bi bi-linkedin"></i>
      </a>

    </div>

    <div class="credits text-center">

      {{ _("Civil Engineering • Infrastructure • Digital Solutions") }}

    </div>

  </div>

</footer>